* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  margin: 20px;
  padding: 0;
}

h1 {
  margin-top: 0;
  font-size: 22px;
}

h2 {
  margin-top: 0;
  font-size: 20px;
}

h3 {
  margin-top: 0;
  font-size: 18px;
}

h4 {
  margin-top: 0;
  font-size: 16px;
}

h5 {
  margin-top: 0;
  font-size: 14px;
}

h6 {
  margin-top: 0;
  font-size: 12px;
}

code {
  font-size: 1.2em;
}

ul {
  padding-inline-start: 20px;
}

* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  margin: 20px;
  padding: 0;
}

.square {
  background: #A24936;
  border: 5px solid #282B28;
  float: left;
  font-size: 120px;
  font-weight: bold;
  line-height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 170px;
  height: 170px;
}
.square:hover {
  background: #D36135;
}


.board-row:after {
  clear: both;
  content: '';
  display: table;
}

.status {
  font-size: 70px;
  margin-bottom: 10px;
  margin-left: 25px;
}
.game {
  display: flex;
  flex-direction: row;
}

.game-info {
  margin-left: 160px;
  button {
    padding: 2px;
    font-size: 16px;
    cursor: pointer;
    background-color: #83BCA9; 
    color: #282B28;
    border: none;
    border-radius: 5px;
    border: 1px solid #3E5641;
  }
}
.game-info button:hover {
  background-color: #3E5641;
}
.game {
  background-color: antiquewhite;
}
 