* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  background-color: #010e15;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.square {
  background: #7C98B3;
  border: 5px solid #637081 ;
  float: left;
  font-size: 120px;
  font-weight: bold;
  line-height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 170px;
  height: 170px;

}
.square:hover {
  background: #ACCBE1 ;
  cursor: pointer;
}

.board-row:after {
  clear: both;
  content: '';
  display: table;
}

.status {
  font-size: 50px;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  margin-bottom: 10px;
  padding: 5px;
  border-radius : 10px;
  background-color: #ACCBE1;
  justify-self: center;
}

.bot-text {
  font-size: 30px;
  color: #ACCBE1;
  justify-self: center;
}

.bot-info {
  padding-top: 4px;
  font-size: 15px;
  color: #ACCBE1;
  justify-self: right;
}


.game {
  display: flex;
  flex-direction: row;
}

.game-info {
  justify-self: center;
  
  button {
    padding: 4px;
    font-size: 32px;
    cursor: pointer;
    background: #7C98B3;
    border: 5px solid #637081 ; 
    color: black;
    border: none;
    border-radius: 5px;
    border: 1px solid #3E5641;
    margin-left: 4px;
  }
}
.game-info button:hover {
  background-color: #ACCBE1;
}

.bot {
  align-items: center;
  justify-content: center;
  justify-self: right;
  margin-top: 4px;
  button {
    width: 50px;
    font-size: 40px;
    border-radius: 25px;
    background-color: #7C98B3;
    border: 2px solid #637081 ; 
    color: black;
    margin-right: 2px;
  }
  button.active {
    background-color: #ACCBE1; 
  }
  button.inactive {
    background-color: #7C98B3; 
  }
  button:hover {
    background-color: #ACCBE1;
  }
  
}


 